$--colorPrimary:#ce9797;
$--colorSecundary: #f96262;
$--colorTertiary: #413a3a;

$--gradientOne: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 35%); 
$--gradientTwo: linear-gradient(90deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 35%);  
