@import 'base';

.section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;

    
    .article {
        background: $--gradientOne; 
        padding: 40px;
        
        .logo {
            width: 40%;
        }

        .logo-mobile {
            display: none;
        }

        .information {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;

            .text {
                font-size: 3.5vw;
                letter-spacing: 20px;

                span {
                    color: $--colorPrimary;
                }
            }

            p {
                color: $--colorPrimary;
                line-height: 30px;
                font-size: 1.1vw;
            }
        }

        .form {
            
            margin-top: 50px;
            display: flex;

            .input-email {
                width: 70%;

                input {
                    width: 100%;
                    padding: 5%;
                    border: 1px solid #ab9898;
                    border-right: none;
                    border-radius: 50px 0 0 50px;
                    font-family: "Josefin Sans", sans-serif;
                }

                .inputError {
                    border: 1px solid red;
                }
            }
            
            button {

                width: 15%;
                background-color: $--colorSecundary;
                border: none;
                border-radius: 0 50px 50px 0;

                img {
                    width: 20%;
                }

                &:hover {
                    background-color: $--gradientTwo;
                    box-shadow: 0 0 5px $--colorTertiary;
                }
            }
        }
    }

    .div {
        display: flex;
    }
}

@media (max-width:768px) {

    .section {
        display: flex;
        .article {
            padding: 5% 0;
            
            .logo-mobile { 
                margin-top: 50px;
                display: block;
            }

            .information {
                text-align: center;
    
                .text {
                    font-size: 7vw;
                }
    
                p {
                    font-size: 3vw;
                }
            }

            .form {
                justify-content: center;
            }
            
        }


        .div {
            display: none;       
        }

        .error {
            margin-left: 40px;
        }
    }
}